<!-- Footer -->
{% load static %}
<footer class="container-fluid bg-dark text-secondary py-4">
    <section class="row justift-content-center">
      <aside class="col-12 col-md-4 mb-3 text-center">
        <img
          src="{% static 'assets/img/cocu_logo-450.png' %}"          
          alt="logo de la panaderia"
          height="80"
        />
      </aside>
      <aside class="col-12 col-md-4 my-1">
        <h5>Horarios de atencion:</h5>
        <p class="my-0">Lunes a Viernes: 09hs-18hs</p>
        <p class="my-0">Sabado, domingos y feriados: 09hs-14hs</p>
      </aside>
      <aside class="col-12 col-md-4 my-1">
        <h5>Siguenos en nuestras redes:</h5>
        <div class="text-center">
          <a href="#"><i class="bi bi-facebook text-light fs-4 ms-4"></i></a>
          <a href="#"><i class="bi bi-instagram text-light fs-4 ms-4"></i></a>
          <a href="#"><i class="bi bi-twitter text-light fs-4 ms-4"></i></a>
          <a href="#"><i class="bi bi-whatsapp text-light fs-4 ms-4"></i></a>
        </div>
      </aside>
    </section>
  </footer>